<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <title>Wishes</title>
    </head>
    
<body>
  
  <p id="notice"><%= notice %></p>

<p>
  <strong>Wine name:</strong>
  <%= @wish.wine_name %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @wish.producer %>
</p>

<p>
  <strong>Country:</strong>
  <%= @wish.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @wish.region %>
</p>

<p>
  <strong>General notes:</strong>
  <%= @wish.general_notes %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @wish.min_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @wish.max_price %>
</p>

<p>
  <strong>Wishes note:</strong>
  <%= @wish.wishes_note %>
</p>

<%= link_to 'Edit', edit_wish_path(@wish) %> |
<%= link_to 'Back', wishes_path %>

<!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>

</body>
</html>