<ul class="list-unstyled">
  <% stocks.each do |stock| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(stock.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to stock.user.name, user_path(stock.user) %> <span class="text-muted">posted at <%= stock.created_at %></span>
        </div>
        
        <div>
          <p>New Stock</p>
          <p><%= stock.wine_name %></p>
          
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate stocks %>
</ul>