<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
    
    <ul>
      <li class="nav-item">Wishes <span class="badge badge-secondary"><%= @count_wishes %></span></li>
      <li class="nav-item">Stocks <span class="badge badge-secondary"><%= @count_stocks %></span></li>
      <li class="nav-item">Nondas <span class="badge badge-secondary"><%= @count_nondas %></span></li>
    </ul>

  </div>
</div>