<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

        <title>Nondas</title>
    </head>
    
<body>
  
  <p id="notice"><%= notice %></p>

<h1>Nondas</h1>

<table>
  <thead>
    <tr>
      <th>Wine name</th>
      <th>Producer</th>
      <th>Country</th>
      <th>Region</th>
      <th>General notes</th>
      <th>Vintage</th>
      <th>Price</th>
      <th>Tasted on</th>
      <th>Tasted pts</th>
      <th>Tasting notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nondas.each do |nonda| %>
      <tr>
        <td><%= nonda.wine_name %></td>
        <td><%= nonda.producer %></td>
        <td><%= nonda.country %></td>
        <td><%= nonda.region %></td>
        <td><%= nonda.general_notes %></td>
        <td><%= nonda.vintage %></td>
        <td><%= nonda.price %></td>
        <td><%= nonda.tasted_on %></td>
        <td><%= nonda.tasted_pts %></td>
        <td><%= nonda.tasting_notes %></td>
        <td><%= link_to 'Show', nonda %></td>
        <td><%= link_to 'Edit', edit_nonda_path(nonda) %></td>
        <td><%= link_to 'Destroy', nonda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nonda', new_nonda_path %>

<!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS, then Font Awesome -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"></script>

</body>
</html>