<p id="notice"><%= notice %></p>

<p>
  <strong>Wine name:</strong>
  <%= @nonda.wine_name %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @nonda.producer %>
</p>

<p>
  <strong>Country:</strong>
  <%= @nonda.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @nonda.region %>
</p>

<p>
  <strong>General notes:</strong>
  <%= @nonda.general_notes %>
</p>

<p>
  <strong>Vintage:</strong>
  <%= @nonda.vintage %>
</p>

<p>
  <strong>Price:</strong>
  <%= @nonda.price %>
</p>

<p>
  <strong>Tasted on:</strong>
  <%= @nonda.tasted_on %>
</p>

<p>
  <strong>Tasted pts:</strong>
  <%= @nonda.tasted_pts %>
</p>

<p>
  <strong>Tasting notes:</strong>
  <%= @nonda.tasting_notes %>
</p>

<%= link_to 'Edit', edit_nonda_path(@nonda) %> |
<%= link_to 'Back', nondas_path %>
